* {
  margin: 0;
  padding: 0;
}

body {
  background: gray url(https://www.toptal.com/designers/subtlepatterns/patterns/food.png) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 400px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
  position: relative;
  padding-bottom:60px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #383838;
  color: white;
  text-align: center;

}
#restImage {
  background: black;
  opacity: .5;
  width: 100%;
}

#rest-info {
  float: left;
  height: 400px;
  width: 60%;
  background-color: white;
  opacity: .9;
  padding: 0px;
  margin-top: 40px;
  margin-left: 15px;
}

#menu-info {
  float: right;
  height: 400px;
  width: 30%;
  background-color: white;
  opacity: .9;
  padding: 0px;
  margin-top: 40px;
  margin-right: 15px;
}

#prompt {
  margin-top: 20px;
}

.result-section {
  position: absolute;
  top: 0px;
  width: 100%;
}

#imageContainer {
  height: 50%;
  width: 100%;
  background-color: black;
  opacity: .7;
  position: relative;
}

#restName {
  color: white;
}

#rating {
  color: white;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    animation: spin 2s linear infinite;
    z-index: 5;
}

#nahBtn {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  height: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}